h1{
    background: rgb(52, 58, 64);
    color: white;
    text-align: center;
    padding-bottom: .5em;
}
#cities{
    background: rgb(248, 249, 250);
}
h5{
    padding-top: 4px;
}
#city-input{
    width: 80%;
}
.btn{
    width: 20%;
}